body {
    background-color: #1F1F29;
}
p {
    color: #F5F5FA;
}
.h1-homepage {
    color: #F5F5FA;
}
.img-headshot {
    border-radius: 20%;
    vertical-align: top;
}
.div-header {
    background-color: #47474b6c;
    border-style: solid;
}
.div-headshot {
    display: inline-block;
    width: 100px;
}
.div-bioinfo {
    display: inline-block;
    flex: 1;
}