* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    overflow: hidden;
    background-color: #1F1F29;
    border: solid;
    padding: 15px 20px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

#navbar a {
    margin: auto;
    float: left;
    color: #F5F5FA;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

#navbar #logo {
    height: 65px;
    transition: 0.2s;
}

#navbar a:hover {
    background-color: #f5f5fa36;
    color: #F5F5FA;
}

#navbar a.active {
    color: #F5F5FA;
}

#navbar-right {
    float: right;
}

@media screen and (max-width: 580px) {
    #navbar {
        padding: 20px 10px !important;
    }

    #navbar a {
        float: none;
        display: block;
        text-align: left;
    }

    #navbar-right {
        float: none;
    }
}

body {
    background-color: #1F1F29;
}

p {
    color: #F5F5FA;
}

.p1-homepage {
    text-align: center;
    color: #F5F5FA;
    font-size: 60px;
}

.home-bio {
    font-size: 20px;
    color: #F5F5FA;
    padding: 40px;
    text-align: justify;
}

#div-header {
    background-color: #1F1F29;
    padding-top: 10px;
}

.bio-container {
    display: flex;
}

.img-mu {
    max-width: 100%;
    margin: auto;
}

.img-headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    border-radius: 50%;
}

.flex-container div {
    flex-direction: row;
}

.link-container {
    display: flex;
}

.div-links {
    font-size: 30px;
    margin: auto;
    text-align: center;
    justify-content: space-evenly;
}

.menu-link {
    color: #F5F5FA;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.menu-link:hover {
    background-color: #f5f5fa36;
    color: #1F1F29;
    text-decoration: none;
}

.menu-link:visited {
    color: #F5F5FA;
    text-decoration: none;
}

